.all{
 
  width: 2000px;
  height:1000px;
  background-color: aquamarine;
}
table.history {
  width: fit-content; 
  margin-top: 20px;
  background-color: bisque;
  margin-left: 20px;
  

}
table.new{
  background-color: crimson;
}
